In [1]:
import numpy as np
import pandas as pd

# linspcae

In [2]:
np.linspace(0,5,30)

array([0.        , 0.17241379, 0.34482759, 0.51724138, 0.68965517,
       0.86206897, 1.03448276, 1.20689655, 1.37931034, 1.55172414,
       1.72413793, 1.89655172, 2.06896552, 2.24137931, 2.4137931 ,
       2.5862069 , 2.75862069, 2.93103448, 3.10344828, 3.27586207,
       3.44827586, 3.62068966, 3.79310345, 3.96551724, 4.13793103,
       4.31034483, 4.48275862, 4.65517241, 4.82758621, 5.        ])

In [3]:
np.linspace(1,5,50)

array([1.        , 1.08163265, 1.16326531, 1.24489796, 1.32653061,
       1.40816327, 1.48979592, 1.57142857, 1.65306122, 1.73469388,
       1.81632653, 1.89795918, 1.97959184, 2.06122449, 2.14285714,
       2.2244898 , 2.30612245, 2.3877551 , 2.46938776, 2.55102041,
       2.63265306, 2.71428571, 2.79591837, 2.87755102, 2.95918367,
       3.04081633, 3.12244898, 3.20408163, 3.28571429, 3.36734694,
       3.44897959, 3.53061224, 3.6122449 , 3.69387755, 3.7755102 ,
       3.85714286, 3.93877551, 4.02040816, 4.10204082, 4.18367347,
       4.26530612, 4.34693878, 4.42857143, 4.51020408, 4.59183673,
       4.67346939, 4.75510204, 4.83673469, 4.91836735, 5.        ])

# sort list

In [4]:
l1=[1,-34,-93,57,7,100]

In [5]:
#one way of sorting
l1.sort()
l1

[-93, -34, 1, 7, 57, 100]

In [6]:
#second way to sorting
l2=sorted(l1)
l2

[-93, -34, 1, 7, 57, 100]

In [7]:
l1==l2

True

# python range

In [8]:
#0 to 9 
##range(n)
a=range(10)
a

range(0, 10)

In [9]:
#converting into list
b=list(a)
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#range(strat,end)
d=list(range(10,100))
d

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [11]:
#range(strat,end)
a=range(10,25)
d=list(a)
d

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [12]:
#range(begin,end,step)
b=list(range(10,67,3))
b

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64]

In [13]:
b=list(range(100,10,-5))
b

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15]

In [14]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range (0,100,10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [17]:
for i in range (10,-10,-2):
    print(i)

10
8
6
4
2
0
-2
-4
-6
-8

In [18]:
for i in range (100,10,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15

# python enumerate

In [19]:
l1=[1,10,90,60]

In [20]:
#to convert into list of tuple#a tuple is produced with (counter,element)
l2=list(enumerate(l1))
l2

[(0, 1), (1, 10), (2, 90), (3, 60)]

In [21]:
#using in for loop
for i,j in enumerate(l1):
    print(i,j)

0 1
1 10
2 90
3 60

In [22]:
for item in enumerate("abcd"):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [23]:
##enumerate in list comprehension
l1=[1,10,30,20,98]
l2=[item for item in enumerate(l1)]
l2

[(0, 1), (1, 10), (2, 30), (3, 20), (4, 98)]

In [24]:
#list of tuple
l1=[30,76,10]
l2=[(i,j)for i,j in enumerate(l1)]
l2

[(0, 30), (1, 76), (2, 10)]

In [25]:
#list of set
l1=[30,76,10]
l2=[{i,j}for i,j in enumerate(l1)]
l2

[{0, 30}, {1, 76}, {2, 10}]

In [26]:
#list of dictionaries
#list of set
l1=[30,76,10]
l2=[{i:j}for i,j in enumerate(l1)]
l2

[{0: 30}, {1: 76}, {2: 10}]

In [27]:
#list of list
#list of set
l1=[30,76,10]
l2=[[i,j]for i,j in enumerate(l1)]
l2

[[0, 30], [1, 76], [2, 10]]

# lambda function

In [28]:
a=[1,4,8,48,56]

In [29]:
def fun(x):
    return x**2

In [30]:
fun(5)

25

In [31]:
fun(6)

36

In [32]:
#defining lambda funtion
lfun=lambda x:x**2
lfun(4)

16

In [33]:
lfun(8)

64

In [34]:
#lambda function in list comprehension
a=[lfun(i) for i in range (1,10)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
a=[(lambda x:x**2)(x)for x in range(1,6)]
a

[1, 4, 9, 16, 25]

In [36]:
#1 st way,without lambda fun
def f(x):
    return x**2

In [37]:
f(3)

9

In [38]:
list(map(f,range(11)))#range 0 to 10

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
#2nd way with lambda
m1=map(lambda x:x**2,range(11))
l1=list(m1)
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
l1=lambda x:x**2+10
l1(3)

19

In [41]:
l1=lambda x:x**2+10 if x%2==0 else x**3

In [42]:
l1(3)

27

In [43]:
l1(2)

14

# list comprehension

In [44]:
l1={x for x in range(6)}
l1

{0, 1, 2, 3, 4, 5}

In [45]:
l1={x for x in range(6) if x%2==0}
l1

{0, 2, 4}

In [46]:
l1={x**3 for x in range(5)}#cube of first 5 ele
l1

{0, 1, 8, 27, 64}

In [47]:
#list of dictonary
l1=[{'a':i,'b':i*2}for i in range(3)]
l1

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [48]:
#list of list
l1=[[i,i**2,i**3]for i in range(4)]#range 0 to 3,if one star means multiply by this value like x*2,x*3.means mulitply by 2 and 3 of particular value/if having 2 star like x**2,x**3 means sqare of particular value and cube of particular value
l1

[[0, 0, 0], [1, 1, 1], [2, 4, 8], [3, 9, 27]]

In [49]:
l1=[[i,i*2,i*3]for i in range(4)]
l1

[[0, 0, 0], [1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [50]:
pd.DataFrame(l1)

   0  1  2
0  0  0  0
1  1  2  3
2  2  4  6
3  3  6  9

In [51]:
#list of tuple
l1=[(i,i**2)for i in range(5)]
l1

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [52]:
pd.DataFrame(l1)

   0   1
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16