In [10]:
s='I Am here and i am learning python'

In [12]:
s.count('am')

1

In [13]:
s.count("python")

1

In [14]:
s.count("e")

3

In [15]:
s.lower()

'i am here and i am learning python'

In [16]:
s.upper()

'I AM HERE AND I AM LEARNING PYTHON'

In [17]:
s.split()

['I', 'Am', 'here', 'and', 'i', 'am', 'learning', 'python']

In [19]:
s.split()[-1]

'python'

In [22]:
df='hello i am from pune # i am student'

In [23]:
df.split('#')

['hello i am from pune ', ' i am student']

In [25]:
a={'k1':'val1','k2':'val2','k3':'val3'}
a

{'k1': 'val1', 'k2': 'val2', 'k3': 'val3'}

In [28]:
a.keys()

dict_keys(['k1', 'k2', 'k3'])

In [30]:
a.values()

dict_values(['val1', 'val2', 'val3'])

In [36]:
a.items()

dict_items([('k1', 'val1'), ('k2', 'val2'), ('k3', 'val3')])

In [40]:
x=[1,6,7,9,10,13]
x

[1, 6, 7, 9, 10, 13]

In [43]:
x.pop()

10

In [44]:
x

[1, 6, 7, 9]

In [48]:
x.reverse()
x

[9, 7, 6, 1]

In [49]:
x in [5,8,2,5,6,10]

False

In [50]:
2 in [5,8,2,5,6,10]

True

In [52]:
x=[(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [56]:
for a,b in x:
    print(b)

2
1
4
3
6
5

5