In [ ]:
import numpy as np
import pandas as pd
arr=np.array(0,11)
arr

In [ ]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)

In [ ]:
d={'a':10,'b':20,'c':30}
labels

In [ ]:
my_data

In [ ]:
pd.Series(data=my_data)

In [ ]:
pd.Series(data=my_data,index=labels)

In [ ]:
pd.Series(my_data,labels)

In [ ]:
pd.Series(arr,labels)

In [ ]:
pd.Series(d)

In [ ]:
pd.Series(arr)

In [ ]:
labels

In [ ]:
pd.Series(data=labels)

In [ ]:
pd.Series(data=[sum,print,len])

In [ ]:
ser1=pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

In [ ]:
ser1[2]

In [ ]:
ser1['Germany']

In [ ]:
ser3=pd.Series(data=labels)
ser3

In [ ]:
ser3[0]

In [ ]:
ser1+ser3

# dataframes

In [ ]:
from numpy.random import randn

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

In [ ]:
df['W']

In [ ]:
type(df['W'])

In [ ]:
type(df)

In [ ]:
df.w

In [ ]:
df['X']

In [ ]:
df[['W','Z']]

In [ ]:
df

In [ ]:
type(df['W'])

In [ ]:
type(df)

In [ ]:
df[['W','Z']]

In [ ]:
df.drop('new')

In [ ]:
df.drop('new',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.drop('E',axis=0)

In [ ]:
df.drop('E')

In [ ]:
df.shape

In [ ]:
df

In [ ]:
df[['Z','X']]

In [ ]:
df

In [ ]:
df.loc['A']

In [ ]:
df.iloc[2]

In [ ]:
df.iloc['C']

In [ ]:
df.loc['B','Y']

In [ ]:
df

In [ ]:
df.loc[['A','B'],['W','Y']]

In [ ]:
df>0

In [ ]:
a=df>0
df[a]

In [ ]:
df[df>0]

In [ ]:
df['W']>0

In [ ]:
df['W']

In [ ]:
c=df[df['W']>0]

In [ ]:
c['X']

In [ ]:
df[df['W']>0]['X']

In [ ]:
df[df['W']>0][['Y','X']]

In [ ]:
boolser=df['W']>0
result=df[boolser]
mycols=['Y','X']
result[mycols]

In [ ]:
df[(df['W']>0) & (df['Y']>1)]

In [ ]:
df['W']>0

In [ ]:
df[(df['W']>0) | (df['Y']>1)]

In [ ]:
df

In [ ]:
df.reset_index()
df

In [ ]:
new_ind='CA','MA','DA'.split()

In [ ]:
new_ind

In [ ]:
df['States']=new_ind
df

In [ ]:
df.set_index('States')
df

# missing Data

In [ ]:
f={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [ ]:
df=pd.DataFrame(f)
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)
df

In [ ]:
df.fillna(value='FILL')

In [ ]:
df['A']

In [ ]:
df['A'].fillna(value=df['A'].mean())

# pandas Groupby

In [ ]:
data={'company':['GOG','GOG','MSD','CMP'],'person':['sam','Ram','JAN','Tan'],'sales':[200,340,200,150]}
df=pd.DataFrame(data)
df

In [ ]:
z=df.groupby('company')
z

In [ ]:
z.mean()

In [ ]:
z.sum()

In [ ]:
z.std()

In [ ]:
z.sum().loc['MSD']

In [ ]:
df.groupby('company').sum().loc['GOG']

In [ ]:
df.groupby('company').count()

In [ ]:
df.groupby('company').max()

In [ ]:
df.groupby('company').min()

In [ ]:
df.groupby('company').discribe()

In [ ]:
df.groupby('company').discribe().transpose()

In [ ]:
df.groupby('company').discribe().transpose()['GOG']