In [1]:
import pandas as pd
df=pd.read_csv("Book1.csv","sheet1")
df

C:\Program Files\anaconda2\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

  tempterature,,day,
0      34,,Thursday,
1       54,,Tuesday,
2        76,,Sunday,
3      98,,Saturday,
4        89,,Friday,
5        78,,Monday,

In [8]:
import pandas as pd
df=pd.read_csv("Book1.csv")
df

   tempterature  Unnamed: 1       day
0            34         NaN  Thursday
1            35         NaN   Tuesday
2            36         NaN    Sunday
3            37         NaN  Saturday
4            38         NaN    Friday
5            39         NaN    Monday

In [23]:
import pandas as pd
df=pd.read_csv("Book1.csv",skiprows=1)
df

   tempterature  Unnamed: 1       day
0            34         NaN  Thursday
1            35         NaN   Tuesday
2            36         NaN    Sunday
3            37         NaN  Saturday
4            38         NaN    Friday
5            39         NaN    Monday

In [27]:
df=pd.read_csv("Book1.csv",header=3)
df

   35  Unnamed: 1   Tuesday
0  36         NaN    Sunday
1  37         NaN  Saturday
2  38         NaN    Friday
3  39         NaN    Monday

In [29]:
df=pd.read_csv("Book1.csv",header=None)
df

              0   1         2
0  tempterature NaN       day
1            34 NaN  Thursday
2            35 NaN   Tuesday
3            36 NaN    Sunday
4            37 NaN  Saturday
5            38 NaN    Friday
6            39 NaN    Monday

In [52]:
df=pd.read_csv("book1.csv",header=None,names=["price","day"])
df

    price       day
34    NaN  Thursday
35    NaN   Tuesday
36    NaN    Sunday
37    NaN  Saturday
38    NaN    Friday
39    NaN    Monday

In [53]:
colnames=['TIME', 'X'] 
user1 = pd.read_csv('book1.csv', names=colnames, header=None)
user1

    TIME         X
34   NaN  Thursday
35   NaN   Tuesday
36   NaN    Sunday
37   NaN  Saturday
38   NaN    Friday
39   NaN    Monday

In [56]:
df=pd.read_csv("book1.csv",nrows=3)
df

   34  Unnamed: 1  Thursday
0  35         NaN   Tuesday
1  36         NaN    Sunday
2  37         NaN  Saturday

In [61]:
user1 = pd.read_csv('book1.csv', na_values=["not_available","n.a."])
user1

   34  Unnamed: 1  Thursday
0  35         NaN   Tuesday
1  36         NaN       NaN
2  37         NaN  Saturday
3  38         NaN       NaN
4  39         NaN    Monday

In [62]:
user1 = pd.read_csv('book1.csv', na_values=["not_available","n.a.",-1])
user1

     34  Unnamed: 1  Thursday
0  35.0         NaN   Tuesday
1  36.0         NaN       NaN
2   NaN         NaN  Saturday
3  38.0         NaN       NaN
4  39.0         NaN    Monday

In [68]:
user1 = pd.read_csv('book1.csv', na_values={'price':["not_available","n.a.",-1]})
user1

   price  Unnamed: 1            day
0   34.0         NaN       Thursday
1    NaN         NaN        Tuesday
2   36.0         NaN           n.a.
3    NaN         NaN       Saturday
4   38.0         NaN  not_available
5    NaN         NaN         Monday

In [99]:
df.to_csv('new.csv')

In [100]:
df.to_csv('new.csv',index=False)

In [101]:
df.columns

Index(['34', 'Unnamed: 1', 'Thursday'], dtype='object')

In [82]:
df.columns

Index(['34', 'Unnamed: 1', 'Thursday'], dtype='object')

In [94]:
df.to_csv('new.csv',columns=['price'])

KeyError: "None of [Index(['price'], dtype='object')] are in the [columns]"

In [98]:
df.to_csv("new.csv",header=False)

In [140]:
df=pd.read_excel('my new list.xlsx')
df

,Course,Intake,Deadline to apply,Fees,Remark,Requirements,Pending document if any,Unnamed: 7
0,4) Esslingen University of Applied Sciences (H...,http://www.graduate-school.de,Master of Engineering Design & Development in ...,Winter Intake,2018-03-31 00:00:00,"1, 500 EUR for non-EU international applicants...",English A German language course starting with...,"Bachelor's degree in Mechanical Engineering, A..."
1,5) FH Aachen University of Applied Sciences,n.a.,Master of Science in Aerospace Engineering (MSc),Winter Intake,2018-05-31 00:00:00,There are no tuition fees at FH Aachen - Unive...,Aerospace,Bachelor's degree (B.Eng.) Of the degree progr...
2,6) FH Aachen University of Applied Sciences,n.a.,Master of Science in Mechatronics,Winter Intake,2018-04-30 00:00:00,There are currently no tuition fees at the FH ...,English (90%) and German (10%) All obligatory ...,"Bachelor, Dipl.-Ing. or equivalent degree in M..."
3,7) Hamburg University of Technology (TUHH),no_available,Mechanical Engineering and Management,Winter Intake,2018-03-01 00:00:00,No tuition fees,English and German; German language courses ar...,Applicants should hold a Bachelor's or equival...
4,8) Kaiserslautern University of Applied Scienc...,http://www.hs-kl.de/angewandte-ingenieurwissen...,Mechanical Engineering/Mechatronics,Winter Intake,2018-06-30 00:00:00,None,English,Applicants must hold a Bachelor's degree (210 ...
5,10) Leibniz University of Hanover-Internationa...,http://www.mechatronik.uni-hannover.de/,International Mechatronics,Winter Intake,"May 31, 2018",None,Master of Science in Mechatronics (MSc) from L...,A Bachelor degree in Mechatronics (or in a rel...
6,14) Rosenheim University of Applied Sciences (...,http://www.fh-rosenheim.de/ing-master.html,"Master's Programme in Mechanical Engineering, ...",Winter Intake,"June 15, 2018",No tuition fees,"Courses are usually held in English, but Germa...",Admission requirements for the Master's degree...
7,16) Ruhr University Bochum-Materials Science a...,http://studienangebot.ruhr-uni-bochum.de/en/ma...,Master of Science (MSc),Winter Intake,2018-06-15 00:00:00,No tuition fees,English,A Bachelor's (BSc) or comparable degree in one...
8,19) Technical University of Munich (TU Munich ...,https://tum-asia.edu.sg/admissions/graduate/ms...,Master of Science,Winter Intake,2018-03-31 00:00:00,The total tuition fees for the Master of Scien...,English,To qualify for application to the Master of Sc...
9,24) University of Freiburg-Master of Science i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
import pandas as pd
df=pd.read_excel('my new list.xlsx',"Sheet1")
df

,Course,Intake,Deadline to apply,Fees,Remark,Requirements,Pending document if any,Unnamed: 7
0,4) Esslingen University of Applied Sciences (H...,http://www.graduate-school.de,Master of Engineering Design & Development in ...,Winter Intake,2018-03-31 00:00:00,"1, 500 EUR for non-EU international applicants...",English A German language course starting with...,"Bachelor's degree in Mechanical Engineering, A..."
1,5) FH Aachen University of Applied Sciences,n.a.,Master of Science in Aerospace Engineering (MSc),Winter Intake,2018-05-31 00:00:00,There are no tuition fees at FH Aachen - Unive...,Aerospace,Bachelor's degree (B.Eng.) Of the degree progr...
2,6) FH Aachen University of Applied Sciences,n.a.,Master of Science in Mechatronics,Winter Intake,2018-04-30 00:00:00,There are currently no tuition fees at the FH ...,English (90%) and German (10%) All obligatory ...,"Bachelor, Dipl.-Ing. or equivalent degree in M..."
3,7) Hamburg University of Technology (TUHH),no_available,Mechanical Engineering and Management,Winter Intake,2018-03-01 00:00:00,No tuition fees,English and German; German language courses ar...,Applicants should hold a Bachelor's or equival...
4,8) Kaiserslautern University of Applied Scienc...,http://www.hs-kl.de/angewandte-ingenieurwissen...,Mechanical Engineering/Mechatronics,Winter Intake,2018-06-30 00:00:00,None,English,Applicants must hold a Bachelor's degree (210 ...
5,10) Leibniz University of Hanover-Internationa...,http://www.mechatronik.uni-hannover.de/,International Mechatronics,Winter Intake,"May 31, 2018",None,Master of Science in Mechatronics (MSc) from L...,A Bachelor degree in Mechatronics (or in a rel...
6,14) Rosenheim University of Applied Sciences (...,http://www.fh-rosenheim.de/ing-master.html,"Master's Programme in Mechanical Engineering, ...",Winter Intake,"June 15, 2018",No tuition fees,"Courses are usually held in English, but Germa...",Admission requirements for the Master's degree...
7,16) Ruhr University Bochum-Materials Science a...,http://studienangebot.ruhr-uni-bochum.de/en/ma...,Master of Science (MSc),Winter Intake,2018-06-15 00:00:00,No tuition fees,English,A Bachelor's (BSc) or comparable degree in one...
8,19) Technical University of Munich (TU Munich ...,https://tum-asia.edu.sg/admissions/graduate/ms...,Master of Science,Winter Intake,2018-03-31 00:00:00,The total tuition fees for the Master of Scien...,English,To qualify for application to the Master of Sc...
9,24) University of Freiburg-Master of Science i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
import pandas as pd
def convert_intake(cell):
    if cell=="n.a.":
        return 'sam'
    elif cell=="no_available":
        return 'sham'

    return cell
df=pd.read_excel("my new list.xlsx","Sheet1",converters = {'Intake':convert_intake})
df

,Course,Intake,Deadline to apply,Fees,Remark,Requirements,Pending document if any,Unnamed: 7
0,4) Esslingen University of Applied Sciences (H...,http://www.graduate-school.de,Master of Engineering Design & Development in ...,Winter Intake,2018-03-31 00:00:00,"1, 500 EUR for non-EU international applicants...",English A German language course starting with...,"Bachelor's degree in Mechanical Engineering, A..."
1,5) FH Aachen University of Applied Sciences,sam,Master of Science in Aerospace Engineering (MSc),Winter Intake,2018-05-31 00:00:00,There are no tuition fees at FH Aachen - Unive...,Aerospace,Bachelor's degree (B.Eng.) Of the degree progr...
2,6) FH Aachen University of Applied Sciences,sam,Master of Science in Mechatronics,Winter Intake,2018-04-30 00:00:00,There are currently no tuition fees at the FH ...,English (90%) and German (10%) All obligatory ...,"Bachelor, Dipl.-Ing. or equivalent degree in M..."
3,7) Hamburg University of Technology (TUHH),sham,Mechanical Engineering and Management,Winter Intake,2018-03-01 00:00:00,No tuition fees,English and German; German language courses ar...,Applicants should hold a Bachelor's or equival...
4,8) Kaiserslautern University of Applied Scienc...,http://www.hs-kl.de/angewandte-ingenieurwissen...,Mechanical Engineering/Mechatronics,Winter Intake,2018-06-30 00:00:00,None,English,Applicants must hold a Bachelor's degree (210 ...
5,10) Leibniz University of Hanover-Internationa...,http://www.mechatronik.uni-hannover.de/,International Mechatronics,Winter Intake,"May 31, 2018",None,Master of Science in Mechatronics (MSc) from L...,A Bachelor degree in Mechatronics (or in a rel...
6,14) Rosenheim University of Applied Sciences (...,http://www.fh-rosenheim.de/ing-master.html,"Master's Programme in Mechanical Engineering, ...",Winter Intake,"June 15, 2018",No tuition fees,"Courses are usually held in English, but Germa...",Admission requirements for the Master's degree...
7,16) Ruhr University Bochum-Materials Science a...,http://studienangebot.ruhr-uni-bochum.de/en/ma...,Master of Science (MSc),Winter Intake,2018-06-15 00:00:00,No tuition fees,English,A Bachelor's (BSc) or comparable degree in one...
8,19) Technical University of Munich (TU Munich ...,https://tum-asia.edu.sg/admissions/graduate/ms...,Master of Science,Winter Intake,2018-03-31 00:00:00,The total tuition fees for the Master of Scien...,English,To qualify for application to the Master of Sc...
9,24) University of Freiburg-Master of Science i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
df.to_excel('excelnew3.xlsx',sheet_name='stocks',index=False)
df

,Course,Intake,Deadline to apply,Fees,Remark,Requirements,Pending document if any,Unnamed: 7
0,4) Esslingen University of Applied Sciences (H...,http://www.graduate-school.de,Master of Engineering Design & Development in ...,Winter Intake,2018-03-31 00:00:00,"1, 500 EUR for non-EU international applicants...",English A German language course starting with...,"Bachelor's degree in Mechanical Engineering, A..."
1,5) FH Aachen University of Applied Sciences,sam,Master of Science in Aerospace Engineering (MSc),Winter Intake,2018-05-31 00:00:00,There are no tuition fees at FH Aachen - Unive...,Aerospace,Bachelor's degree (B.Eng.) Of the degree progr...
2,6) FH Aachen University of Applied Sciences,sam,Master of Science in Mechatronics,Winter Intake,2018-04-30 00:00:00,There are currently no tuition fees at the FH ...,English (90%) and German (10%) All obligatory ...,"Bachelor, Dipl.-Ing. or equivalent degree in M..."
3,7) Hamburg University of Technology (TUHH),sham,Mechanical Engineering and Management,Winter Intake,2018-03-01 00:00:00,No tuition fees,English and German; German language courses ar...,Applicants should hold a Bachelor's or equival...
4,8) Kaiserslautern University of Applied Scienc...,http://www.hs-kl.de/angewandte-ingenieurwissen...,Mechanical Engineering/Mechatronics,Winter Intake,2018-06-30 00:00:00,None,English,Applicants must hold a Bachelor's degree (210 ...
5,10) Leibniz University of Hanover-Internationa...,http://www.mechatronik.uni-hannover.de/,International Mechatronics,Winter Intake,"May 31, 2018",None,Master of Science in Mechatronics (MSc) from L...,A Bachelor degree in Mechatronics (or in a rel...
6,14) Rosenheim University of Applied Sciences (...,http://www.fh-rosenheim.de/ing-master.html,"Master's Programme in Mechanical Engineering, ...",Winter Intake,"June 15, 2018",No tuition fees,"Courses are usually held in English, but Germa...",Admission requirements for the Master's degree...
7,16) Ruhr University Bochum-Materials Science a...,http://studienangebot.ruhr-uni-bochum.de/en/ma...,Master of Science (MSc),Winter Intake,2018-06-15 00:00:00,No tuition fees,English,A Bachelor's (BSc) or comparable degree in one...
8,19) Technical University of Munich (TU Munich ...,https://tum-asia.edu.sg/admissions/graduate/ms...,Master of Science,Winter Intake,2018-03-31 00:00:00,The total tuition fees for the Master of Scien...,English,To qualify for application to the Master of Sc...
9,24) University of Freiburg-Master of Science i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
df.to_excel('excelnew33.xlsx',sheet_name='stocks')

In [163]:
df

,Course,Intake,Deadline to apply,Fees,Remark,Requirements,Pending document if any,Unnamed: 7
0,4) Esslingen University of Applied Sciences (H...,http://www.graduate-school.de,Master of Engineering Design & Development in ...,Winter Intake,2018-03-31 00:00:00,"1, 500 EUR for non-EU international applicants...",English A German language course starting with...,"Bachelor's degree in Mechanical Engineering, A..."
1,5) FH Aachen University of Applied Sciences,sam,Master of Science in Aerospace Engineering (MSc),Winter Intake,2018-05-31 00:00:00,There are no tuition fees at FH Aachen - Unive...,Aerospace,Bachelor's degree (B.Eng.) Of the degree progr...
2,6) FH Aachen University of Applied Sciences,sam,Master of Science in Mechatronics,Winter Intake,2018-04-30 00:00:00,There are currently no tuition fees at the FH ...,English (90%) and German (10%) All obligatory ...,"Bachelor, Dipl.-Ing. or equivalent degree in M..."
3,7) Hamburg University of Technology (TUHH),sham,Mechanical Engineering and Management,Winter Intake,2018-03-01 00:00:00,No tuition fees,English and German; German language courses ar...,Applicants should hold a Bachelor's or equival...
4,8) Kaiserslautern University of Applied Scienc...,http://www.hs-kl.de/angewandte-ingenieurwissen...,Mechanical Engineering/Mechatronics,Winter Intake,2018-06-30 00:00:00,None,English,Applicants must hold a Bachelor's degree (210 ...
5,10) Leibniz University of Hanover-Internationa...,http://www.mechatronik.uni-hannover.de/,International Mechatronics,Winter Intake,"May 31, 2018",None,Master of Science in Mechatronics (MSc) from L...,A Bachelor degree in Mechatronics (or in a rel...
6,14) Rosenheim University of Applied Sciences (...,http://www.fh-rosenheim.de/ing-master.html,"Master's Programme in Mechanical Engineering, ...",Winter Intake,"June 15, 2018",No tuition fees,"Courses are usually held in English, but Germa...",Admission requirements for the Master's degree...
7,16) Ruhr University Bochum-Materials Science a...,http://studienangebot.ruhr-uni-bochum.de/en/ma...,Master of Science (MSc),Winter Intake,2018-06-15 00:00:00,No tuition fees,English,A Bachelor's (BSc) or comparable degree in one...
8,19) Technical University of Munich (TU Munich ...,https://tum-asia.edu.sg/admissions/graduate/ms...,Master of Science,Winter Intake,2018-03-31 00:00:00,The total tuition fees for the Master of Scien...,English,To qualify for application to the Master of Sc...
9,24) University of Freiburg-Master of Science i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
df.to_excel('newexcel.xlsx',sheet_name='stk',startrow=3,startcol=3)

In [184]:
df_stocks=pd.DataFrame({'day':['2/3/2019','2/3/2018'],
        'price':[10,34]})
df_stocks
df_weather=pd.DataFrame({'temp':[34,87],
        'event':['snow','rain']})
df_weather

   temp event
0    34  snow
1    87  rain

In [185]:
with pd.ExcelWriter('stock.xlsx')as writer:
    df_st.to_excel(writer,sheet_name='stocks')
    df_weather.to_excel(writer,sheet_name="weather")